@model MVC_Store.Models.ViewModels.Cart.CartVM


<div class="ajaxcart shoping-cart">
    <a href="/Cart">
        <img src="../../Assets/shopping-cart.png" />
        <div class="quantity">
            @Model.Quantity
        </div>
    </a>
</div>